[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "fastapi>=0.118.3",
    "mysql-connector-python>=9.4.0",
    "python-decouple>=3.8",
    "sqlalchemy>=2.0.44",
    "uvicorn>=0.37.0",
]
